{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "entry",
      "debug": true,
      "modules": false,
      "targets": {
      	"browsers": ["last 4 versions", "ie 9"]
      }
    }]
  ]
}
